In [35]:
from sklearn.preprocessing import OneHotEncoder

In [36]:
enc = OneHotEncoder(handle_unknown='ignore')

In [37]:
X = [['Male', 1], ['Female', 3], ['Female', 2]]
X

[['Male', 1], ['Female', 3], ['Female', 2]]

In [38]:
enc.fit(X)

OneHotEncoder(handle_unknown='ignore')

In [39]:
enc.transform([['Female', 1], ['Male', 4]]).toarray()

array([[1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [40]:
enc.inverse_transform([[0, 1, 1, 0, 0], [0, 0, 0, 1, 0]])

array([['Male', 1],
       [None, 2]], dtype=object)

In [41]:
enc.inverse_transform([[0, 1, 1, 0, 0], [0, 0, 0, 1, 0]])

array([['Male', 1],
       [None, 2]], dtype=object)

In [42]:
enc.get_feature_names(['gender', 'group'])

array(['gender_Female', 'gender_Male', 'group_1', 'group_2', 'group_3'],
      dtype=object)

In [43]:
import pandas as pd
titanic_all = pd.DataFrame([['C'], ['Q'], ['S'], ['S']], columns = ['Embarked'])
titanic_all

  Embarked
0        C
1        Q
2        S
3        S

In [44]:
test = OneHotEncoder()
embarked = [['C'], ['S'], ['Q']]
test.fit(embarked)

OneHotEncoder()

In [45]:

df = pd.DataFrame(test.transform(titanic_all['Embarked'].values.reshape(-1, 1)).toarray(), columns = test.get_feature_names(['Embarked']))
titanic_all = pd.concat([titanic_all, df], axis=1)
titanic_all

  Embarked  Embarked_C  Embarked_Q  Embarked_S
0        C         1.0         0.0         0.0
1        Q         0.0         1.0         0.0
2        S         0.0         0.0         1.0
3        S         0.0         0.0         1.0

In [53]:
titanic_all['Embarked'].values.reshape(-1, 1)

array([['C'],
       ['Q'],
       ['S'],
       ['S']], dtype=object)